<div>
  <input type="text" [(ngModel)]="searchTitle" placeholder="Enter your title">
  <button (click)="searchContent()">Search</button>
</div>

<div *ngIf="searchResultMessage" [style.color]="searchResultMessageColor">
  {{ searchResultMessage }}
</div>

<div class="content-list">
  <div *ngFor="let contentItem of filteredContentArray" class="card" [ngClass]="{ 'offense-card': contentItem.type === 'Offense', 'midfielder-card': contentItem.type === 'Midfielder', 'defender-card': contentItem.type === 'Defender' }">
    <h1>{{ contentItem.title }}</h1>
    <p>{{ contentItem.description }}</p>
    <p>Creator: {{ contentItem.creator }}</p>
    <img [src]="contentItem.imgURL" alt="{{ contentItem.title }}">
    <p>Type: {{ contentItem.type }}</p>
    
  </div>
</div>
