<div class="card">
    <h1>{{ contentItem.title }}</h1>
    <p>{{ contentItem.description }}</p>
    <p>Creator: {{ contentItem.creator }}</p>
    <img *ngIf="contentItem.imgURL; else defaultImage" [src]="contentItem.imgURL" alt="{{ contentItem.title }}">
    <ng-template #defaultImage>
      <img src="https://www.shutterstock.com/image-vector/default-avatar-profile-icon-social-600nw-1677509740.jpg" alt="Default Image">
    </ng-template>
  </div>
  
  <div class="content-type" >
    <p appHoverAffect="underline">Type: {{ contentItem.type }}</p>
    <div *ngFor="let tag of contentItem.tags">
      <span appHoverAffect="bold" appHoverAffect="border">{{ tag }}</span>
    </div>
  </div>
  