<div class="card">
    <h1>{{ contentItem.title }}</h1>
    <p>{{ contentItem.description }}</p>
    <p>Creator: {{ contentItem.creator }}</p>
    <img *ngIf="contentItem.imgURL; else defaultImage" [src]="contentItem.imgURL" alt="{{ contentItem.title }}">
    <ng-template #defaultImage>
      <img src="path/to/default/image" alt="Default Image">
    </ng-template>
    <p>Type: {{ contentItem.type }}</p>
  </div>
  
  <div class="content-type" appHoverAffect>
    <p>Type: {{ contentItem.type }}</p>
    <div *ngFor="let tag of contentItem.tags">
      <span appHoverAffect [hoverStyle]="'bold'">{{ tag }}</span>
    </div>
  </div>
  